<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--配置数据库的驱动程序，Hibernate在连接数据库时，需要用到数据库的驱动程序 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!--设置数据库的连接数据库名 -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/search_data?useUnicode=true&amp;characterEncoding=utf-8</property>
		<!--连接数据库是用户名 -->
		<property name="hibernate.connection.username">root</property>
		<!--连接数据库是密码 -->
		<property name="hibernate.connection.password">root</property>
		<!--数据库连接池的大小 -->
		<property name="hibernate.connection.pool.size">20 </property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!--是否在后台显示Hibernate用到的SQL语句，开发时设置为true，便于差错，程序运行时可以在Eclipse的控制台显示Hibernate的执行Sql语句。项目部署后可以设置为false，提高运行效率 -->
		<!-- <property name="hibernate.show_sql">true </property>
		<property name="hibernate.format_sql">true</property> -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- <mapping resource="hibernate/c5/HibernateDemo/News.hbm.xml" /> -->

		<mapping class="common.catchdata.house.SaleDto"></mapping>
		<mapping class="common.catchdata.house.SaleStaticDto"></mapping>
	</session-factory>
</hibernate-configuration>
